@{
    @model WAD.Models.Category

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="content-wrapper">
    <h1>
        @ViewData["Message"]
    </h1>
    <h2>
        Thời gian: @ViewData["CurrentTime"]
    </h2>

    <h2>Dùng với dạng ViewBag</h2>
    <h3>@ViewBag.Message</h3>
    <h3>@ViewBag.CurrentTime</h3>
    @{
        // Day la noi viet code C#

        var products = new string[] { "Laptop", "PC", "Telephone" };
    }
    <ul>
        @foreach (var product in products)
        {
            <li>Product: @product</li>

        }
    </ul>

    <a href="~/Home/About">About Us</a> <br />
    @Html.ActionLink("Home", "Index", "Home")

    <h2>Start form Login</h2>
    @{Html.BeginForm("Create", "Category");}
    @Html.Label("Email")
    @Html.TextBox("email") <br />
    @Html.Label("Password")
    @Html.Password("password") <br />
    @Html.DropDownList("city", new SelectList(new[] { "Hà nội", "Sài Gòn" }), "Chọn tỉnh/ thành phố") <br />
    @Html.RadioButton("gender", "male", true) Nam <br />
    @Html.RadioButton("gender", "female") Nữ <br />
    @Html.Label("Remember me!")
    @Html.CheckBox("remember") <br />
    <button type="submit">Submit</button>
    @{Html.EndForm();}

    <h3>Thông tin danh mục</h3>
    <h3>Tên: @Model.Name</h3>
    <h3>Tên: @Model.Image</h3>
    <h3>Tên: @Model.Description</h3>


    <h2>Form nhập dữ liệu cho Category</h2>
    @{ Html.BeginForm();}
    @Html.ValidationSummary(true)
    @Html.LabelFor(Model => Model.Name)
    @Html.EditorFor(Model => Model.Name) <br />
    @Html.LabelFor(Model => Model.Image)
    @Html.EditorFor(Model => Model.Image) <br />
    @Html.LabelFor(Model => Model.Description)
    @Html.TextAreaFor(Model => Model.Description) <br />
    @{ Html.BeginForm();}
    <button type="submit">Submit</button>
</div>
