@model PracticalTest.Models.Exam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassRoom.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoom.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
